All Frontend Packages:

npm install @emotion/react @emotion/styled @mui/icons-material @mui/lab @mui/material axios file-saver react-lazy-load-image-component react-router-dom  styled-components

All Backend Packages:

npm install cloudinary cors dotenv express mongoose nodemon openai

.env

MONGODB_URL=""
OPENAI_API_KEY=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
